<div nz-row>
	<div nz-col [nzSpan]='8'>
		<nz-input [(ngModel)]="str" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="'请输入待加密信息'"></nz-input>
	</div>
	<ul nz-col [nzSpan]='8' class="buttonGroup">
		<li>
			<button nz-button [nzType]="'primary'" (click)="encrypt()">
				<span>加密</span>
			</button>
		</li>
		<li>
			<button nz-button [nzType]="'primary'" (click)='decrypt()'>
				<span>解密</span>
			</button>
		</li>
	</ul>
	<div nz-col [nzSpan]='8'>
		<nz-input [(ngModel)]="encryptStr" [nzType]="'textarea'" [nzRows]="'4'" [nzPlaceHolder]="''"></nz-input>
	</div>
</div>
