<nz-layout>
	<nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
		<ul nz-menu [nzMode]="'inline'" class="menu">
			<ng-template ngFor let-item [ngForOf]="menu">
				<div *ngIf="item.children; then menus else items"></div>

				<ng-template #menus>
					<li nz-submenu>
						<span title>
							<i class="anticon anticon-appstore"></i>
							{{item.name}}
						</span>
						<ul *ngIf="item.children">
							<ng-template ngFor let-child [ngForOf]="item.children">
								<div *ngIf="child.children; then submenu else menuItem"></div>

								<ng-template #submenu>
									<li nz-submenu>
										<span title>{{child.name}}</span>
										<ul>
											<li *ngFor="let subChild of child.children" nz-menu-item [routerLink]="['/' + item.router + '/' + subChild.router]" [routerLinkActive]="'ant-menu-item-selected'">
												{{subChild.name}}
											</li>
										</ul>
									</li>
								</ng-template>

								<ng-template #menuItem>
									<li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'" [routerLink]="['/' + item.router + '/' + child.router]">
										{{child.name}}
									</li>
								</ng-template>
							</ng-template>
						</ul>
					</li>
				</ng-template>

				<ng-template #items>
					<li nz-menu-item [routerLinkActive]="'ant-menu-item-selected'">
						<span title>
							<i class="anticon anticon-appstore"></i>
							{{item.name}}
						</span>
					</li>
				</ng-template>
			</ng-template>
		</ul>
	</nz-sider>
	<nz-layout>
		<nz-header class="nz-header"></nz-header>
		<nz-content class="nz-content">
			<div class="content" [@routeAnimation]="getRouteAnimation(route)">
				<router-outlet #route="outlet"></router-outlet>
			</div>
		</nz-content>
	</nz-layout>
</nz-layout>
