@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}
@keyframes rotate {
	0% {
		-webkit-transform: rotate(0deg);
		        transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
		        transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		        transform: rotate(360deg);
	}
}

.loader {
	display: block;

	position: relative;

	overflow: hidden;

	width: 150px;
	height: 150px;
	margin: 75px auto;

	will-change: transform;

	div {
		height: 100%;

		&:hover {
			-webkit-animation-play-state: paused;
			        animation-play-state: paused;
		}
	}

	* {
		will-change: transform;
	}
}
